@model JsonSchemaValidator.Models.SchemaValidator
<div class="text-center">
    <form asp-action="FormValidator" asp-antiforgery="true" method="post">
        <div class="row d-flex justify-content-center">
            <div class="form-group col-xs-6 d-flex justify-content-left">
                <textarea asp-for="Schema" class="form-control" rows="20" cols="50"
                    placeholder="Schema is required"></textarea>
            </div>

            <div>&nbsp;</div>

            <div class="form-group col-xs-6 d-flex justify-content-right">
                <textarea asp-for="Data" class="form-control" rows="20" cols="50"
                    placeholder="Data is required"></textarea>
            </div>
        </div>

        <div class="form-group d-flex justify-content-center text-danger">
            @Html.Raw(Model.Errors)
        </div>

        @if ((!string.IsNullOrEmpty(Model.Data) && !string.IsNullOrEmpty(Model.Schema)) &&
        string.IsNullOrEmpty(Model.Errors))
        {
            <div class="form-group d-flex justify-content-center text-success">
                Your payload is ok
            </div>
        }

        <input type="submit" value="Validate" class="btn btn-primary" />
    </form>
</div>
